@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.4;
  scroll-behavior: smooth;
}

nav .primary-list a {
  list-style: none;
}

a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}

nav .primary-list {
  display: flex;
  gap: 30px;
}

nav .primary-list li {
  border-bottom: 2px solid transparent;
  transition: 0.2s ease-in;
}

nav .primary-list li:hover {
  border-bottom: 2px solid red;
  transition: 0.2s ease-in;
}

.icon1 {
  font-size: 30px;
  font-weight: 600;
  color: red;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 10px 40px;
  background-color: #6384a2;
}

.box4,
.box5,
.box6,
.box7,
.box8,
.box9,
.img1,
.img2,
.img3,
.map-img,
.img4 {
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}

.hero-section {
  background: rgba(0, 0, 0, 0.6) url(images/college-1.jpg);
  height: 700px;
  display: grid;
  color: white;
  place-items: center;
  text-align: center;
  background-blend-mode: darken;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}

.hero-section .container {
  display: flex;
  flex-direction: column;
  gap: 30px;
}


button {
  padding: 10px 15px;
  border: none;
  transition: 0.2s ease-in-out;
  width: 200px;
  background-color: red;
  color: black;
}

button:hover {
  transition: 0.2s ease-in;
  opacity: 0.8;
  color: white;
}

.primary-btn {
  margin: auto;
}

.hero-section h1 {
  font-size: 3rem;
  color: white;
}

.hero-section h3 {
  font-size: 2rem;
  color: white;
}

.box1,
.box2,
.box3 {
  height: 250px;
  width: 300px;
  padding: 20px;
  background-color: whitesmoke;
  border: 2px solid transparent;
  margin: auto;
}

.boxes {
  display: flex;
}

.boxes h4 {
  color: black;
}

.boxes p {
  color: black;
}

.courses h2 {
  display: grid;
  place-items: center;
  margin-top: 100px;
}

.courses p {
  display: grid;
  place-items: center;
  margin-bottom: 100px;
}


.img4 {
  background-image: url(images/college-11.jpg);
  height: 300px;
  width: 900px;
  padding: 200px;
  display: block;
}

.online-crs {
  background: rgba(0, 0, 0, 0.7) url(images/college-8.jpg);
  height: 600px;
  justify-content: center;
  align-items: center;
  background-blend-mode: darken;
  position: relative;
  top: 150px;
  bottom: 200px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
  margin: auto;

}

.online-crs h1 {
  position: absolute;
  width: 100%;
  text-align: center;
  color: white;
  top: 40%;
  font-size: 2.5rem;
}

.online-crs h2 {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  color: white;
  font-size: 2rem;
}

.university {
  display: flex;
}

.box4,
.box5,
.box6 {
  height: 500px;
  width: 350px;
  margin: auto;
}

.box4 {
  background-image: url(images/college-2.jpg);
  position: relative;
}

.text {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.6s;
  color: white;
}

.text:hover {
  opacity: 1;
}

.box5 {
  background-image: url(images/college-3.jpg);
  position: relative;
}

.text1 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.6s;
  color: white;
}

.text1:hover {
  opacity: 1;
}

.box6 {
  background-image: url(images/college-4.jpg);
  position: relative;
}

.text2 {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: 0.6s;
  color: white;
}

.text2:hover {
  opacity: 1;
}

.campus h2 {
  display: grid;
  place-items: center;
  margin-top: 250px;
}

.campus p {
  display: grid;
  place-items: center;
  margin-bottom: 50px;
}

.box7,
.box8,
.box9 {
  height: 400px;
  width: 400px;
  margin: auto;
  border-radius: 10px;
}

.box7 {
  background-image: url(images/college-5.jpg);
}

.box8 {
  background-image: url(images/college-6.jpg);
}

.box9 {
  background-image: url(images/college-7.jpg);
}

.facilities h2 {
  margin-top: 150px;
  display: grid;
  place-items: center;
}

.facilities p {
  display: grid;
  place-items: center;
  margin-bottom: 100px;
}

.box7 h3 {
  margin-top: 450px;
}

.box8 h3 {
  margin-top: 450px;
}

.box9 h3 {
  margin-top: 450px;
}

.box10,
.box11 {
  height: 250px;
  width: 500px;
  padding: 20px;
  background-color: whitesmoke;
  border: 2px solid transparent;
  margin: auto;
  margin-top: 100px;
}

.icon {
  color: peru;
  font-size: 0.85rem;
}

.review-img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
}

.img1 {
  background-image: url(images/college-avtar\ 1.jpg);
}

.img2 {
  background-image: url(images/college-avtar\ 2.jpg);
}

.comments h1 {
  display: grid;
  place-items: center;
  margin-top: 300px;
}

.comments p {
  display: grid;
  place-items: center;
}

.review {
  display: flex;
}


.about-us {
  background: rgba(0, 0, 0, 0.7) url(images/college-9.jpg);
  height: 500px;
  margin-top: 150px;
  justify-content: center;
  align-items: center;
  background-blend-mode: darken;
  position: relative;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  scroll-behavior: smooth;
}

.about-us h1 {
  display: grid;
  place-items: center;
  color: white;
  padding-top: 200px;
  font-size: 2.5rem;
}

.about-university {
  display: flex;
  justify-content: center;
  margin: 100px 0;
  gap: 50px;
  width: 1000px;
  height: 500px;
}

.university-content {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.university-content p {
  font-size: 1rem;
}

.contact-icon {
  margin-left: 50px;
  margin-top: 150px;
}

.comment {
  max-width: 600px;
  padding: 20px;
  background-color: white;
  margin: 0 auto;
  margin-top: 50px;
  box-shadow: 4px 3px 5px rgba(1, 1, 1, 0.1);
  border-radius: 10px;
}


.Contact-Section {
  padding: 100px 0;
  display: flex;

}

.contact-left {
  margin-left: 600px;
}

.contact-right {
  margin-left: 300px;
}

.contact-left p {
  margin-top: 50px;
  color: #fff;
}

.contact-left p i {
  color: black;
  margin-right: 15px;
  font-size: 25px;
}

.social-icons {
  margin-top: 30px;
}

.social-icons a {
  text-decoration: none;
  font-size: 30px;
  margin-right: 15px;
  color: #ababab;
  display: inline-block;
  transition: tansform 0.5s;
}

.social-icons a:hover {
  color: black;
  transform: translateY(-5px);
}

.contact-right form {
  width: 100%;
}

form input,
form textarea {
  width: 100%;
  border: 0;
  outline: none;
  background-color: rgb(245, 239, 239);
  padding: 15px;
  margin: 15px 0;
  color: black;
  font-size: 18px;
  border-radius: 6px;
}

form .btn2 {
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}


.contact h1 {
  display: grid;
  place-items: center;
}

.contact span {
  display: grid;
  place-items: center;
}


.contact {
  padding: 4rem 0;
  box-shadow: 0 0 4px #bbd0e2;
  margin-top: 100px;
}

.contact .info li p a {
  font-size: 1rem;
  display: inline-block;
  margin: 0.75rem 0;
  color: black;
}

.contact .form-group {
  margin-bottom: 1.5rem;
}

.contact .form-control {
  height: 3.75rem;
  padding: 0.375rem 1.1875rem;
  border: none;
  font-size: 1rem;
  box-shadow: 0 0.1875rem 1.25rem 0 rgb(0 0 0 / 12%);
}

.contact .textarea {
  width: 100%;
  border-radius: 0.25rem;
  padding: 0.75rem 1.1875rem;
  border: none;
  font-size: 1rem;
  margin-top: 0.3125rem;
  box-shadow: 0 0.1875rem 1.25rem 0 rgb(0 0 0 / 12%);
}

.contact .textarea:focus {
  outline: none;
  border: none;
}

.sub-title {
  font-size: 60px;
  font-weight: 600;
}

.icons {
  padding: 20px;
  color: rgb(175, 91, 7);
  font-size: 1.5rem;
  margin-top: 100px;
  margin-left: 45%;
}

.footer h4 {
  margin-left: 45%;
  font-size: 1.2rem;
  color: red;
}



@media only screen and (max-width:600px) {

  nav {
    flex-wrap: wrap;
  }

  a {
    font-size: 1rem;
    color: white;
  }

  .icon1 {
    font-size: 20px;
  }

  .hero-section h1 {
    font-size: 1.5rem;
  }

  .hero-section h3 {
    font-size: 1rem;
  }

  .box1,
  .box2,
  .box3 {
    height: 230px;
    width: 350px;
    padding: 20px;
    margin-bottom: 20px;
  }

  .container p {
    font-size: 12px;
  }

  .boxes {
    display: block;
  }

  .boxes h4 {
    font-size: 16px;
  }

  .boxes p {
    font-size: 14px;
  }

  .online-crs h1 {
    top: 40%;
    font-size: 18px;
  }

  .online-crs h2 {
    top: 45%;
    font-size: 16px;
  }

  .box4,
  .box5,
  .box6,
  .box7,
  .box8,
  .box9,
  .img1,
  .img2,
  .img3,
  .map-img,
  .img4,
  .online-crs,
  .hero-section {
    flex-wrap: wrap;
  }

  .university {
    display: block;
  }

  .box4,
  .box5,
  .box6 {
    height: 380px;
    width: 350px;
    margin-bottom: 10px;
  }

  .box7,
  .box8,
  .box9 {
    height: 300px;
    width: 350px;
    margin-top: 20px;
  }

  .facilities h2 {
    margin-top: 150px;
  }

  .box7 h3,
  .box8 h3,
  .box9 h3 {
    font-size: 1.4rem;
    margin: 40px 0px;
    color: white;
    background-color: black;
  }

  .box7 p,
  .box8 p,
  .box9 p {
    display: none;
  }

  .facilities p {
    margin-bottom: 50px;
  }

  button {
    margin: auto;
  }

  .review {
    display: block;
    flex-wrap: wrap;
  }

  .box10,
  .box11 {
    height: 200px;
    width: 350px;
  }


  .about-university {
    display: block;
    flex-wrap: wrap;
  }

  .img4 {
    background-image: url(images/college-12.jpg);
    height: 300px;
    width: 420px;
    display: block;
  }

  .university-content {
    display: block;
    flex-direction: column;
    gap: 20px;
  }

  .university-content p {
    font-size: 10px;
    width: 420px;
    height: 50px;
  }

  .contact-left {
    margin-left: 0px;
    margin-top: 100px;
  }

  .sub-title {
    margin-top: 300px;
  }

  .contact-right {
    margin-left: 0px;
  }

  .icons {
    margin-left: 120px;
  }

  .footer h4 {
    margin-left: 100px;
    font-size: 1.5rem;
  }
}

@media(max-width:1030px) {

  .box1,
  .box2,
  .box3,
  .box4,
  .box5,
  .box6,
  .box7,
  .box8,
  .box9,
  .box10,
  .box11 {
    margin-left: 10px;
  }

  .img4 {
    height: 600px;
    background-image: url(images/college-11.jpg);
  }

  .about-university {
    width: 700px;
  }

  .contact-left,
  .contact-right {
    margin-left: 0px;
  }
}
